
 <form action="/lists" method="post">
   <div class="form-group">
      <label for="name">Enter a list name</label>
      <input name="name" class="form-control" type="text">
   </div>
   <hr>
   <button class="btn btn-success">Add List</button>
 </form>
